@import url('fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Montserrat',
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
